*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Teko";
    src: url("../fonts/Teko-Regular.ttf");
}


/*declare colors*/
:root
{
    /*black*/
    --color1:#000000;
    /*Gray*/
    --color2:#444444;
    /*Lightgray*/
    --color3:#707070;
    /*Lightergray*/
    --color4:#AAAAAA;
    /*white*/
    --color5:#F5F5F5;
    /*White*/
    --color6:#FFFFFF;
    /*Blue*/
    --color7:#2629FB;
}

p {
    font-family: "Comic Sans MS", "Arial", "Verdana", "sans-serif";
}


/*navigation bar*/

nav
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
}

nav ul
{
    text-align: center;
    background-color: var(--color4);
}

li
{
    display: inline-block;
    padding: 15px 20px;
    font-weight: 600;
    font-family: "Comic Sans MS", "Arial", "Verdana", "sans-serif";
}

nav li a{
    text-decoration: none;
    color: var(--color1);
}

nav li:hover{
    background-color: var(--color2);
    color: var(--color3);
}


/*header*/
#header-video video{
    width: 100%;
    height: 100%;
}

#header-content{
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    text-align: center;
}

#header-content h1{
    font-family: Impact, "Arial", "Verdana", "sans-serif";
    font-size: 10em;
    color: var(--color6);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 5px;
}

#header-content h2{
    color: var(--color6);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 3em;
}


/*Maincontent*/
#maincontent{
    display: grid;
    grid-template-columns: auto auto;
    margin:  0 auto;
    width: 60vw;
    padding: 1em 0;
}

#main header h2{
    font-family: 'Teko', "Arial", "Verdana", "sans-serif";
    font-size: 10em;
}

#maincontent article h3{
    font-size: 2em;
}

#main header{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10vw;
}

#main header, #main footer{
    grid-column: 1 / 5 ;
}

#maincontent article{
    grid-column: 1 / 3;
}

#maincontent aside{
    grid-column: span 1;
}

#maincontent aside img{
    width: 75%;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

#maincontent footer{
     text-align: center;
     border: 1px black solid;
}
#maincontent footer a, p{
    color: var(--color1);
}

#maincontent p{
    padding: 1% 0;
}

/*Secondary conent*/
#secondary{
    background-color: var(--color4);
}
#secondarycontent{
    display: grid;
    grid-template-columns: auto auto;
    margin:  0 auto;
    width: 60vw;
    padding: 1em 0;
}

#secondary header h2{
    font-family: Impact, "Arial", "Verdana", "sans-serif";
    font-size: 6em;
}

#secondarycontent article h3{
    font-size: 1.5em;
}

#secondary header{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10vw;
}

#secondary header, #secondary footer{
    grid-column: 1 / 5 ;
}

#secondarycontent article{
    grid-column: 1 / 3;
}

#secondarycontent aside{
    grid-column: span 2;
}

#secondarycontent aside img{
    width: 75%;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

#secondarycontent footer{
    text-align: center;
    border: 1px black solid;
}

#secondarycontent p{
    padding: 1% 0;
}

/*Sports in haarlem*/
#sportcontent h2{
    font-family: Impact, "Arial", "Verdana", "sans-serif";
    font-size: 10em;
    text-align: center;
}


#grid-sporten{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    width: 70%;
    margin: 0 auto;
}

.grid-block{
    position: relative;
    border: black 1px solid;
}

.grid-block img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.grid-block p{
    position: absolute;
    bottom: 0;
    width: 90%;
    padding: 10px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.grid-block a{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.grid-block h3{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#sportcontent footer{
    text-align: center;
    border: 1px black solid;
    width: 73%;
    margin: 20px auto ;
}

#sportcontent footer a,p{
    color: var(--color1);
}

/*Referal*/
#referral{
    background-color: var(--color4);
}
#referralcontent{
    display: grid;
    grid-template-columns: auto auto;
    margin:  0 auto;
    width: 60vw;
    padding: 1em 0;
}

#referral header h2{
    font-family: Impact, "Arial", "Verdana", "sans-serif";
    font-size: 6em;
}

#referralcontent article h3{
    font-size: 1.5em;
}

#referral header{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10vw;
}

#referral header, #referral footer{
    grid-column: 1 / 6 ;
}

#referralcontent article{
    grid-column: 1/3;
}

#referralcontent aside{
    grid-column: span 3;
}

#referralcontent aside img{
    width: 75%;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

#referralcontent footer button{
    text-align: center;
    background-color: var(--color3);
    padding: 10px 6px;
}

#referralcontent p{
    padding: 1% 0;
}


#referral{
    background-color: var(--color4);
}

#referral header h2{
    font-family: Impact, "Arial", "Verdana", "sans-serif";
    text-align: center;
    font-size: 6em;
}

#referralcontent{
    width: 40%;
    margin: 0 auto;
}

/*Contact*/

#contactcontent{
    text-align: center;
}

#contactcontent fieldset{
    width: 15%;
    margin: 0 auto;
    padding-bottom: 15px;
}

#contactcontent input[type=Submit] {
    background-color: var(--color4);
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
}

#contactcontent input[type=Submit]:hover {
    background-color: var(--color3);
}


/*Footer*/

#footer{
    height: 60px;
    background-color: var(--color3);
}


/*cookie*/
#cookies{
    background-color: rgba(20,20,20,0.8);
    padding: 0.2%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#cookies p, a{
    color: var(--color6);
    font-size: 1em;
}


